<div id="<%= dom_id food %>">
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Measurementunit:</strong>
    <%= food.measurementUnit %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food.Price %>
  </p>

</div>
